/* Styling for arborium.
 * tag names and explanations based on `ThemeSlot::tag` in src/highlights.se
 * of arborium-theme.
 */
a-ns, // namespace
a-cr, // constructor
a-eb, // embedded content
a-er  // errors
{}

a-at, // attribute
a-co, // constant
a-n   // Number
{ color: var(--col-fv); }

a-f,  // function
a-l,  // Label
a-m,  // macro
a-t,  // type
a-tg, // tag (html/xml)
a-tu  // markup link/url
{ color: var(--col-fl); }

a-k, // keyword
a-tt // markup title/heading
{ color: var(--col-fh); }

a-pr, // property
a-tl, // markup literal/code
a-v   // Variable
{ color: var(--col-f); }

a-o, // operator
a-p  // punctuation
{ color: var(--col-t-lc); }

a-c,  // comment
a-da, // diff addtion
a-s   // string
{ color: var(--col-t-green); }

a-dd // diff deletion
{ color: var(--col-t-red); }

a-c, // comment
a-em // markup emphasis/italic
{ font-style: italic; }
a-st, // markup strong/bold
a-tt  // markup title/heading
{ font-weight: bold; }

a-tu // markup link/url
{ text-decoration: underline; }

a-dd, // diff deletion
a-tx // markup strikethrough
{ text-decoration: line-through; }
