@use "sass:color";

$paper: #f9f6f3;
$purple: purple;

html, body {
    margin: 0;
    padding: 0;
}
body {
    background: $paper;
    color: black;
    min-height: 100vh;
    line-height: 1.4;

    @media screen and (min-width: 42em) {
        display: grid;
        grid-template-columns: 5fr 2fr;
    }

    > header, > footer {
        grid-column: 1 / 3;
        padding: 1ex 1em;
        position: relative;
    }
    > header {
        border-bottom: .1em solid black;
        min-height: 42px;
        &::after {
            content: url(static_name("bike-1.svg"));
            display: block;
            height: 50px;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 10%;
            bottom: 0;
            width: calc(50px * 1.33);
        }
    }
    > main {
        grid-row: 2 / 8;
        padding: 1em;
        max-width: 54em;
        margin: 0;
    }
    > aside {
        grid-column: 2;
        margin: 1em 0 0;
        padding: 1ex 1em;
        width: -moz-available;
        &:last-of-type {
            margin-bottom: 30vmin;
        }
    }
    > footer {
        background: black;
        color: $paper;
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 1em;
        p { margin: 0; }
        :link {
            color: color.mix($paper, $purple, 65%);
        }
        :visited {
            color: color.mix($paper, $purple, 80%);
        }
        hr {
            border: 0;
            content: url(static_name("tree.svg"));
            display: block;
            height: 30vmin;
            width: 27vmin;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 4%;
            top: -30vmin;
        }
    }
}

@font-face {
    font-family: Cocanut;
    font-style: regular;
    font-weight: regular;
    src: local("Cocanut.otf"),
         url(static_name("cocanut.otf"));
}
@font-face {
    font-family: Cocanut;
    font-style: regular;
    font-weight: bold;
    src: local("Cocanut Bold.otf"),
         url(static_name("cocanut_bold.otf"));
}
@font-face {
    font-family: Cocanut;
    font-style: italic;
    font-weight: regular;
    src: local("Cocanut Italic.otf"),
         url(static_name("cocanut_italic.otf"));
}
@font-face {
    font-family: Cocanut;
    font-style: italic;
    font-weight: bold;
    src: local("Cocanut Bold Italic.otf"),
         url(static_name("cocanut_bold_italic.otf"));
}
h1, h2, h3, h4, header {
    font-family: "Cocanut";
    :link, :visited {
        text-decoration: none;
    }
    &:hover {
        :link, :visited {
            text-decoration: underline;
        }
    }
}
h1 {
    font-size: 320%;
}
aside h1 {
    font-size: 180%;
    font-weight: bold;
    font-style: italic;
}

aside#me_box {
    display: flex;
    flex-flow: row wrap;
    align-items: end;
    gap: 0 1em;
    justify-content: space-between;

    h1, ul:first-of-type {
        width: -moz-available;
    }
    ul {
        padding: 0 0 0 1em;
        margin: 0;
    }
}

h2 {
    font-size: 200%;
}
h3 {
    font-size: 140%;
}
header {
    font-size: 120%;
}
section {
    margin-top: 1.6em;
}
h1, h2, h3 {
    margin: 0;
}
p {
    margin: 0 0 1em;
}
blockquote {
    font-family: Cocanut;
    // TODO: Something nice and swirly?
    border-left: solid purple 1px;
    border-radius: 1ex;
    padding: 1ex 1em;
    margin: 1ex auto 1.5em 1ex;
}

p.publine {
    font-family: Cocanut;
}

main aside {
    float: right;
    margin: 0 0 1ex 1ex;
}
table {
    border-collapse: collapse;
    th, td {
        text-align: left;
        border: 0.02em solid #635;
        padding: .1em .2em;
    }
}

ul.tagcloud {
    font-family: Cocanut;
    margin: 2em 0;
    padding: 0;
    text-align: center;
    line-height: 1;

    li {
        display: inline-block;
        vertical-align: middle;
        margin: .2em .4em;
    }
    li:not(:hover) a {
        text-decoration: none;
    }
    .w0 { font-size: 75%; }
    .w1 { font-size: 88%; }
    .w2 { font-size: 104%; }
    .w3 { font-size: 123%; }
    .w4 { font-size: 145%; }
    .w5 { font-size: 172%; }
    .w6 { font-size: 800%; }
}

figure {
    font-family: Cocanut;

    &.scaled {
        margin: 1em 0;
    }
    &.sidebar {
        clear: right;
        float: right;
        margin: 0 0 1ex 1em;
        max-width: 60%;
        width: 17em;
        &.portrait, &.fa-cover {
            width: 12em;
        }
    }
    &.gallery {
        display: inline-block;
        margin: 0 1em 1em 0;
        max-width: calc(50% - 1.2em);
        width: 16.7em;
        vertical-align: top;
        &.portrait {
            max-width: calc(0.7 * (50% - 1.1em));
            width: 0.7 * 16.7em;
        }
    }
    &.fa-cover {
        width: 8em;
    }
    > a, > a > img, > img {
        width: -moz-available;
        height: auto;
    }
}

.wrapiframe {
    width: -moz-available;
    height: 0;
    padding-bottom: 56.25%; // Default, to override per video?
    position: relative;

    iframe {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
}

article {
    &:after {
        $size: 12em;
        clear: both;
        content: url(static_name("deco1.svg"));
        display: block;
        height: $size * 640 / 1280;
        margin: 0 auto 1em;
        width: $size;
    }
    &:nth-child(2n):after {
        content: url(static_name("deco2.svg"));
    }
    &:nth-child(3n):after {
        content: url(static_name("deco3.svg"));
    }
}
