@use "sass:color";

$paper: #fdfbf9;
$paper2: color.mix($paper, wheat, 90%);
$purple: mix(rebeccapurple, purple);
$dark: color.mix($purple, black);
$darker: color.mix($purple, black, 33%);

@use "kratsbox";

html, body {
    margin: 0;
    padding: 0;
}

body {
    background:
        linear-gradient(166deg, transparent 10em, white 17em, transparent 40em),
        linear-gradient(90deg, $paper2, $paper 40%, $paper 87%, color.mix($paper2, black, 95%));
    background-color: $paper;
    color: black;
    min-height: 100vh;
    line-height: 1.4;

    > main, > aside {
        padding: 5vmin 2vw 2vmin;
    }
    > header, > footer {
        padding: 1ex 2vw;
        position: relative;
    }

    @media screen and (min-width: 42em) {
        display: grid;
        grid-template-columns: 70% 30%;
        > header, > footer {
            grid-column: 1 / 3;
        }
    }
    @media screen and (min-width: 98em) {
        grid-template-columns: 60% 40%;

        > header, > footer, > main, > aside {
            padding-left: 7vw;
            padding-right: 7vw;
        }
    }

    > header {
        border-bottom: .1em solid $purple;
        min-height: 42px;
        text-align: right;
        h1 {
            margin-top: 1ex;
        }
        p:not(.tagline) {
            margin: 0;
        }
        &::after {
            mask: url(static_name("bike-1.svg"));
            background: $purple;
            content: "";
            display: block;
            height: 50px;
            margin: 0;
            padding: 0;
            position: absolute;
            left: 10%;
            bottom: 0;
            width: calc(50px * 1.33);
        }
    }
    > main {
        grid-row: 2 / 8;
        max-width: 54em;
        margin: 0;
    }
    > aside {
        grid-column: 2;
        margin: 1em 0 0;
        width: -moz-available;
        &:last-of-type {
            margin-bottom: 30vmin;
        }
    }
    > footer {
        background: $darker;
        color: $paper;
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 1em;
        p { margin: 0; }
        :link {
            color: color.mix($paper, $purple, 65%);
        }
        :visited {
            color: color.mix($paper, $purple, 80%);
        }
        hr {
            background: inherit;
            border: 0;
            display: block;
            height: 30vmin;
            margin: 0;
            mask: url(static_name("tree.svg"));
            padding: 0;
            position: absolute;
            right: 4%;
            top: -29vmin;
            width: 27vmin;
        }
    }
}

:link {
    color: color.mix($purple, blue);
}
:visited {
    color: $purple;
}

html:lang(en) a:not(:lang(en)),
html:lang(sv) a:not(:lang(sv)) {
    font-style: italic;
}

@font-face {
    font-family: Cocanut;
    font-style: regular;
    font-weight: regular;
    src: local("Cocanut.otf"),
         url(static_name("cocanut.otf"));
}
@font-face {
    font-family: Cocanut;
    font-style: regular;
    font-weight: bold;
    src: local("Cocanut Bold.otf"),
         url(static_name("cocanut_bold.otf"));
}
@font-face {
    font-family: Cocanut;
    font-style: italic;
    font-weight: regular;
    src: local("Cocanut Italic.otf"),
         url(static_name("cocanut_italic.otf"));
}
@font-face {
    font-family: Cocanut;
    font-style: italic;
    font-weight: bold;
    src: local("Cocanut Bold Italic.otf"),
         url(static_name("cocanut_bold_italic.otf"));
}
h1, h2, h3, h4, h5, h6, header {
    font-family: "Cocanut";
    :link, :visited {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
h1 {
    font-size: 320%;
}
aside {
    h2 {
        font-size: 180%;
        font-weight: bold;
        font-style: italic;
    }
    ul {
        padding: 0 0 0 1em;
        margin: 0;
    }

    &#me_box {
        display: flex;
        flex-flow: row wrap;
        align-items: end;
        gap: 0 1em;
        justify-content: space-between;

        h1, ul:first-of-type {
            width: -moz-available;
        }
    }
}

h2 {
    font-size: 200%;
}
h3, h4 {
    font-size: 140%;
}
h5, h6 {
    font-size: 120%;
}
header {
    font-size: 120%;
}
section {
    margin-top: 4vmin;
    main > & {
        clear: both;
        margin-top: 8vmin;
    }
}
h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 0 0;
    &:first-child {
        margin: 0;
    }
}
h1, h2, h3, h5 {
    font-weight: bold;
}
h4, h6 {
    font-weight: normal;
}
p {
    margin: 0 0 1em;
}

blockquote {
    font-family: Cocanut;
    border-left: solid color.mix($purple, $paper) 2px;
    border-radius: 1ex;
    padding: 1ex 1em;
    margin: 1ex auto 1.5em 2em;
    position: relative;

    &::before {
        content: '”';
        display: block;
        font-size: 600%;
        position: absolute;
        color: $purple;
        font-weight: bold;
        top: -0.29em;
        left: -.24em;
    }
    &:lang(en)::before {
        content: '“';
        left: -.27em;
    }

    *:last-child {
        margin-bottom: 0;
    }
}





p.publine {
    font-family: Cocanut;
}

main aside {
    float: right;
    margin: 0 0 1ex 1ex;
}
table {
    border-collapse: collapse;
    th, td {
        text-align: left;
        border: 0.02em solid #635;
        padding: .1em .2em;
    }
}

ul.tagcloud {
    font-family: Cocanut;
    margin: 2em 0;
    padding: 0;
    text-align: center;
    line-height: 1;

    li {
        display: inline-block;
        vertical-align: middle;
        margin: .2em .4em;
    }
    li:not(:hover) a {
        text-decoration: none;
    }
    .w0 { font-size: 72%; }
    .w1 { font-size: 84%; }
    .w2 { font-size: 99%; }
    .w3 { font-size: 115%; }
    .w4 { font-size: 135%; }
    .w5 { font-size: 158%; }
}

figure {
    $paspect: 0.7;
    font-family: Cocanut;
    margin: 1em 0;
    max-width: -moz-available;

    @media (min-width: 20em) {
        &.sidebar {
            $width: 19em;
            clear: right;
            float: right;
            margin: 0 0 1ex 1em;
            max-width: 50%;
            width: $width;
            &.portrait, &.fa-cover {
                width: $paspect * $width;
            }
        }
    }
    &.gallery {
        display: inline-block;
        margin: 0 1em 1em 0;
        max-width: calc(50% - 1.2em);
        width: 16.7em;
        vertical-align: top;
        &.portrait {
            max-width: calc(0.7 * (50% - 1.1em));
            width: 0.7 * 16.7em;
        }
    }
    &.fa-cover {
        width: 8em;
    }
    > a, > a > img, > img {
        width: -moz-available;
        height: auto;
    }
}

.wrapiframe {
    width: -moz-available;
    height: 0;
    padding-bottom: 56.25%; // Default, to override per video?
    position: relative;

    iframe {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
}

article {
    margin: 5vmin 0;

    &:after {
        $size: 12em;
        clear: both;
        mask: url(static_name("deco1.svg"));
        background: $purple;
        content: "";
        display: block;
        height: $size * 640 / 1280;
        margin: 0 auto;
        width: $size;
    }
    &:nth-child(2n):after {
        mask: url(static_name("deco2.svg"));
    }
    &:nth-child(3n):after {
        mask: url(static_name("deco3.svg"));
    }
    .readmore {
        text-align: right;
        font-family: cocanut;
        font-style: italic;
    }
}

pre {
    $bcol: burlywood;
    background: color.mix($paper, white);
    border: solid 1px $bcol;
    color: black;
    margin: 1em 1ex;
    overflow: auto;
    padding: 1ex;

    &[data-lang] {
        position: relative;

        &::before {
            background: linear-gradient(60deg, rgba($bcol, 0) 1em, $bcol 2em);
            content: attr(data-lang);
            display: block;
            font-family: cocanut;
            font-style: italic;
            padding: 0 1ex 0 2em;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

#llmap {
    border: solid 1px $dark;
    height: 60vmin;
    margin: 2em 0;
}

:target {
    position: relative;
    &::before {
        background: $purple;
        border-radius: .3em;
        content: " ";
        height: 100%;
        left: max(-.8em, -2vw);
        position: absolute;
        width: min(.3em, 1vw);
    }
}

menu.social {
    margin: 1em 0 0 0;
    padding: 0;
    li {
        display: inline-block;
        margin: 0 1em 1em 0;
        padding: 0;
        a.twitter:before {
            background: url(static_name("twitter.svg"));
            content: ' ';
            display: inline-block;
            height: 1em;
            margin-right: .4em;
            vertical-align: -.15em;
            width: 1.216em;
        }
        a.fb:before {
            background: url(static_name("fb.svg"));
            content: ' ';
            display: inline-block;
            height: 1.2em;
            margin: -.1em .4em -.1em 0;
            vertical-align: -.15em;
            width: 1.2em;
        }
    }
}

menu.social a,
button {
    background: linear-gradient(white, $paper);
    border-radius: .3em;
    border: solid .7px $dark;
    color: black;
    display: inline-block;
    font-family: cocanut;
    font-size: inherit;
    padding: .3em .8em;
    text-decoration: none;

    &:focus, &:hover {
        background: linear-gradient(color.mix($paper, black, 97%), $paper 40%, $paper 87%, color.mix($paper, black, 92%));
        border: solid .7px $darker;
        box-shadow: 0 0 1em $darker;
    }
}

#recentcomments {
    p {
        clear: both;
    }
}
#comments {
    section {
        clear: both;
    }

    p.signed {
        text-align: right;
        margin-right: 12%;
        font-family: cocanut;
        font-style: italic;
        &:first-line {
            font-weight: bold;
        }
    }

    hr {
        background-color: $purple;
        border: 0;
        height: 2px;
        border-radius: 50%;
        position: relative;
        margin: 2em min(20%, 7em) 1em 0;
        &::after {
            color: $purple;
            content: "☙";
            display: block;
            font-size: 3em;
            margin: 0 auto;
            position: relative;
            text-align: center;
            text-shadow: .04em 0 0 $paper, -.04em 0 0 $paper;
            top: -.75em;
            width: 3em;
        }
    }
    section:nth-child(2n) hr::after {
        content: "❧";
    }
    section:nth-child(3n) hr::after {
        content: "☘";
    }
    section:nth-child(5n) hr::after {
        content: "«»";
    }
    section:nth-child(7n - 5) hr::after {
        content: "» «";
    }

    img.gravatar {
        margin-top: -2em;
    }
}

img.gravatar {
    border-radius: 1em;
    float: right;
    height: auto;
    margin: 0 0 1ex 1em;
    max-width: 18%;
    width: 5em;
}

#writecomment form {
    display: grid;
    grid-template-columns: 1fr 3fr 6fr;
    gap: .2em .6em;
    align-items: first baseline;

    p {
        display: contents;
    }
    label {
        grid-column: 1;
    }
    #cmt_md {
        grid-column: 1 / 4;
    }
    p.submit {
        display: block;
        grid-column: 1 / 4;
        text-align: right;
    }
    // help for the comment itself
    p:nth-child(1) i.helptext {
        grid-column: 2 / 4;
        text-align: right;
    }
}

@media (max-width: 30em) {
    #writecomment form {
        grid-template-columns: 1fr 3fr;

        p:nth-child(1) i.helptext {
            grid-column: 2/3;
            margin: 0;
        }
        #cmt_md {
            grid-column: 1/3;
        }
        .helptext {
            grid-column: 1/3;
            text-align: right;
            margin: -.2em 0 .6em;
            font-size: 87%;
        }
        p.submit {
            grid-column: 1/3;
        }
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background:
            linear-gradient(166deg, transparent 10em, rgba(black,0.5) 17em, transparent 40em),
            linear-gradient(90deg, color.mix(black, $darker), $darker 40%, $darker 87%, color.mix(black, $darker));
        background-color: $darker;
        color: $paper;
        > footer {
            background: wheat;
            color: black;
            :link {
                color: color.mix($dark, blue, 65%);
            }
            :visited {
                color: $dark;
            }
        }
    }
    h1, h2, h3, h4, h5, h6 {
        color: wheat;
    }
    :link {
        color: color.mix($paper, $purple, 65%);
    }
    :visited {
        color: color.mix($paper, $purple, 80%);
    }

    pre {
        $bcol: $dark;
        background: color.mix($darker, black);
        border: solid 1px $bcol;
        color: $paper;
        &[data-lang]::before {
            background: linear-gradient(60deg, rgba($bcol, 0) 1em, $bcol 2em);
        }
    }

    #comments {
        hr {
            background-color: $purple;
            &::after {
                color: $purple;
                text-shadow: .04em 0 0 $darker, -.04em 0 0 $darker;
            }
        }
    }

    menu.social a,
    button {
        background: linear-gradient(black, $dark);
        border-color: $purple;
        color: wheat;

        &:focus, &:hover {
            background: linear-gradient(black, $dark 40%, $dark 80%, black);
            border: solid .7px $purple;
            box-shadow: 0 0 1em lightgreen;
        }
    }
    textarea, input[type=text], input[type=email], input[type=url] {
        background: $darker;
        color: wheat;
        border: .7px inset $purple;
    }
}
