@use "sass:color";

$paper: #fdfbf9;
$paper2: color.mix($paper, wheat, 90%);
$purple: mix(rebeccapurple, purple);
$dark: color.mix($purple, black, 70%);
$darker: color.mix($purple, black, 33%);

$pwidth: 66ch;
$outdent: 1.2rem;

@use "kratsbox";

html, body {
    margin: 0;
    padding: 0;
}

html {
    --col-f: #{black};
    --col-fl: #{color.mix($purple, blue)};
    --col-fv: #{$purple};
    --col-fh: #{$dark};
    --col-b: #{$paper};
    --col-b0: #{rgba($paper, 0)};
    --col-bt: #{rgba($paper2, 0.9)};  // background, transparent
    --col-bx: #{wheat};
    --col-bl: #{color.mix($paper, $purple, 65%)};
    --col-bv: #{color.mix($paper, $purple, 80%)};
    --col-bext: #{color.mix($paper, white)};
    --col-b1: #{$paper2};
    --col-b2: #{color.mix($paper, wheat, 70%)};
    --col-flare: #{white};
}

@mixin darktheme {
    --col-f: #{$paper};
    --col-fl: #{color.mix($purple, color.mix(blue, white, 30%), 30%)};
    --col-fv: #{color.mix($purple, $paper, 30%)};
    --col-fh: #{wheat};
    --col-b: #{$darker};
    --col-b0: #{rgba($darker, 0)};
    --col-bt: #{rgba($darker, 0.8)};
    --col-bx: #{$purple};
    --col-bl: #{color.mix($purple, blue)};
    --col-bv: #{$purple};
    --col-bext: #{color.mix($darker, black)};
    --col-flare: #{rgba(black, 0.5)};
    --col-b1: #{color.mix($darker, black, 75%)};
    --col-b2: #{color.mix($darker, black)};
}

html.theme-dark { @include darktheme; }
@media (prefers-color-scheme: dark) {
    html:not(.theme-light) { @include darktheme; }
}

@function myshadow($size: 1px) {
    @return 0 0 $size var(--col-fh), calc($size / 2) $size calc($size * 2) var(--col-fh);
}

body {
    background:
        linear-gradient(166deg, var(--col-b0) 10em, var(--col-flare) 17em, var(--col-b0) 40em),
        linear-gradient(90deg, var(--col-b1), var(--col-b) 40%, var(--col-b) 80%, var(--col-b2));
    background-color: var(--col-b);
    color: var(--col-f);
    font-family: serif;
    font-variant: oldstyle-nums;
    line-height: 1.4;
    min-height: 100vh;
    print-color-adjust: exact;

    > main, > aside {
        padding: 5vmin 2vw 2vmin;
    }
    > header, > footer {
        padding: 1ex 2vw;
        position: relative;
    }

    @media screen and (min-width: 42em) {
        display: grid;
        grid-template-columns: 70% 30%;
        > header, > footer {
            grid-column: 1 / 3;
        }
    }

    > header {
        border-bottom: .1em solid $purple;
        min-height: 42px;
        text-align: right;
        h1 {
            font-size: clamp(2.4em, 8vmin, 5em);
            margin-top: 1ex;
        }
        p:first-of-type {
            font-size: 1.4em;
        }
        p {
            margin: 0 0 1em auto;
        }
        p:not(.tagline) {
            margin-bottom: 0;
        }
        p:not(:first-of-type) {
            display: inline-block;
            margin-inline-start: 1ex;
        }
        @media (min-width: 30em) {
            &::after {
                mask: url(static_name("bike-1.svg"));
                -webkit-mask: url(static_name("bike-1.svg"));
                background: $purple;
                content: "";
                display: block;
                height: 50px;
                margin: 0;
                padding: 0;
                position: absolute;
                bottom: 0;
                width: calc(50px * 1.33);
            }
        }
    }
    > main {
        grid-row: 2 / 8;
        margin: 0;
    }
    > aside {
        grid-column: 2;
        margin: 1em 0 0;
        width: -moz-available;
        &:last-of-type {
            margin-bottom: 30vmin;
        }
    }
    > footer {
        background: var(--col-fh);
        color: var(--col-b);
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 1em;
        p { margin: 0; }
        :link {
            color: var(--col-bl);
        }
        :visited {
            color: var(--col-bv);
        }
        hr {
            background: inherit;
            border: 0;
            display: block;
            height: 30vmin;
            margin: 0;
            -webkit-mask: url(static_name("tree.svg"));
            padding: 0;
            position: absolute;
            right: 4%;
            top: -29vmin;
            width: 27vmin;
        }
    }
}

a.cc-by {
    display: inline-block;
    font-variant-caps: all-small-caps;
    &:after {
        content: "🅭 🅯";
        display: inline-block;
        font-size: 130%;
        line-height: 1;
        margin-left: .25em;
        text-decoration: none;
        vertical-align: -.1em;
    }
}

:link {
    color: var(--col-fl);
}
:visited {
    color: var(--col-fv);
}

html:lang(en) a:not(:lang(en)),
html:lang(sv) a:not(:lang(sv)) {
    font-style: italic;
}

@font-face {
    font-family: Cocanut;
    font-style: regular;
    font-weight: regular;
    src: local("Cocanut.otf"),
         url(static_name("cocanut.otf"));
}
@font-face {
    font-family: Cocanut;
    font-style: regular;
    font-weight: bold;
    src: local("Cocanut Bold.otf"),
         url(static_name("cocanut_bold.otf"));
}
@font-face {
    font-family: Cocanut;
    font-style: italic;
    font-weight: regular;
    src: local("Cocanut Italic.otf"),
         url(static_name("cocanut_italic.otf"));
}
@font-face {
    font-family: Cocanut;
    font-style: italic;
    font-weight: bold;
    src: local("Cocanut Bold Italic.otf"),
         url(static_name("cocanut_bold_italic.otf"));
}
h1, h2, h3, h4, h5, h6, header {
    font-family: "Cocanut";
    color: var(--col-fh);
    :link, :visited {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
h1 {
    font-size: clamp(2.2em, 6vmin, 4em);
}
aside {
    h2 {
        font-size: 180%;
        font-weight: bold;
        font-style: italic;
    }
    ul {
        padding: 0 0 0 1.4em;
        margin: 0 0 1em;
    }

    &#me_box {
        display: flex;
        flex-flow: row wrap;
        align-items: end;
        gap: 0 1em;

        h1, ul:first-of-type {
            width: 100%;
            width: -moz-available;
        }
        ul {
            margin-bottom: 0;
            flex-grow: 1;
        }
    }
}

h2 {
    font-size: 200%;
    :link, :visited {
        color: inherit;
    }
}
h3, h4 {
    font-size: 140%;
}
h5, h6 {
    font-size: 120%;
}
section {
    margin-top: 4vmin;
    main > & {
        clear: both;
        margin-top: 8vmin;
    }
}
h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 0 0;
    &:first-child {
        margin: 0;
    }
}
h1, h2, h3, h5 {
    font-weight: bold;
}
h4, h6 {
    font-weight: normal;
}
p {
    margin: 0 0 1em;
    max-width: $pwidth;
}
main {
    & > section:not(#comments) {
        h2, h3, h4, h5, h6 {
            padding-left: $outdent;
        }
    }
    p:not(li p, blockquote p) {
        text-align: justify;
        padding-inline-start: $outdent;
    }
    ul, ol {
        padding-inline-start: calc($outdent + 3ch);
        max-width: calc($pwidth - 3ch);
    }
    dl {
        padding-inline-start: $outdent;
        max-width: $pwidth;
    }
    footer {
        max-width: calc($pwidth + $outdent);
    }
}

blockquote {
    font-family: Cocanut;
    border-left: solid var(--col-fv) 2px;
    border-radius: 1ex;
    padding: 1ex 1em;
    margin: 1ex auto 1.5em 2em;
    position: relative;

    &::before {
        content: '”';
        display: block;
        font-size: 600%;
        position: absolute;
        color: var(--col-fl);
        font-weight: bold;
        top: -0.29em;
        left: -.24em;
    }
    &:lang(en)::before {
        content: '“';
        left: -.27em;
    }

    p {
        max-width: 56ch;
    }

    *:last-child {
        margin-bottom: 0;
    }
}

code {
    font-variant: lining-nums;
}
code.key {
  background: var(--col-bx);
  padding: .1em .4em;
  margin: -.1em .1em;
  border-radius: .4em;
  box-shadow: myshadow(.1em);
}

p.publine {
    margin-bottom: .2em;
    max-width: initial;
    padding: 0;
}
div.publine.oldpost {
  background: no-repeat calc(100% - 1ex) calc(20% + .3em) / 2.6em auto url(/s/kaj-g8kJnwri.svg) var(--col-bv);
  border-radius: 0 1ex 1ex 1em;
  font-weight: 100;
  min-height: 2em;
  padding: 1ex 4em 1ex $outdent;
  max-width: calc(#{$pwidth} - 4em);
}

main aside {
    margin: 1em auto;
    width: fit-content;
    > :last-child {
        margin-bottom: 0;
    }
    @media (min-width: 30em) {
        float: right;
        margin: 0 0 1ex 1em;
        max-width: 55%;
    }
    @media (min-width: 50em) {
        max-width: 40%;
    }
}
table {
    border-collapse: collapse;
    th, td {
        text-align: left;
        border: 0.02em solid #635;
        padding: .1em .2em;
    }
}

ul.tagcloud {
    font-family: Cocanut;
    margin: 2em 0;
    padding: 0;
    text-align: center;
    line-height: 1;
    max-width: none;

    li {
        display: inline-block;
        vertical-align: middle;
        margin: .2em .4em;
    }
    li:not(:hover) a {
        text-decoration: none;
    }
    .w0 { font-size: 72%; }
    .w1 { font-size: 90%; }
    .w2 { font-size: 110%; }
    .w3 { font-size: 135%; }
    .w4 { font-size: 165%; }
    .w5 { font-size: 200%; }
}

figure {
    $paspect: 0.7;
    font-family: Cocanut;
    margin: 1em 0;
    max-width: -moz-available;

    @media (min-width: 20em) {
        &.sidebar {
            $width: 19em;
            clear: right;
            float: right;
            margin: 0 0 1ex 1em;
            max-width: 50%;
            position: relative;
            width: $width;
            z-index: 1;
            &.portrait, &.fa-cover {
                width: $paspect * $width;
            }
        }
        .publine + &.sidebar {
            margin-top: 3em;
        }
    }
    &.gallery {
        display: inline-block;
        margin: 0 1em 1em 0;
        max-width: calc(50% - .5em);
        width: 16.7em;
        vertical-align: top;
        &.portrait {
            max-width: calc(0.7 * (50% - 1.1em));
            width: 0.7 * 16.7em;
        }
    }
    &.fa-cover {
        width: 8em;
    }
    &.qr-code {
        width: 10em;
        img {
            image-rendering: crisp-edges;
            padding: 4%;
            background: white;
            border: .5px solid $dark;
        }
    }
    > a, > a > img, > img {
        width: 100%;
        width: -moz-available;
        height: auto;
    }
}
div.gallery {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    margin: 1em 0;

    figure.gallery {
        flex: 13em 1 1;
        margin: 0;
        width: 13em;
        &.fa-cover {
            flex: 7.2em 1 1;
            width: 7.2em;
        }
        &.portrait {
            flex: 9em .3 1;
            width: 9em;
        }
    }
}

.wrapiframe {
    margin: 1em 0;
    padding-bottom: 56.25%; // Default, to override per video?
    position: relative;
    width: 100%;
    width: -moz-available;
    height: 0;
    overflow: hidden;

    figcaption {
        background: var(--col-bt);
        border-radius: 0 1ex 1ex 0;
        box-shadow: myshadow();
        padding: 1ex $outdent;
        width: fit-content;
        margin-right: 1ex;
        top: 2%;
        position: absolute;
        z-index: 1;
    }
    iframe, .ifrprev {
        position: absolute;
        bottom: 0;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
    }
    img.ifrprev {
        object-fit: cover;
    }
    div.ifrprev {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        text-align: center;
        top: 4em;
        align-items: center;
        height: auto;

        p {
            background: var(--col-bt);
            border-radius: 1ex;
            box-shadow: myshadow();
            margin: 0 auto;
            max-width: 95%;
            padding: 1ex;
            text-align: center;
            text-wrap: balance;
            width: 40ch;
        }
    }
}

article {
    margin: 5vmin 0;
    --deco-mask: #{url(static_name("deco1.svg"))};
    --deco-ar: 1280 / calc(640/2);

    &:first-child {
        margin-top: 0;
    }
    &:after {
        aspect-ratio: var(--deco-ar);
        background: $purple;
        clear: both;
        content: "";
        display: block;
        height: auto;
        mask: var(--deco-mask) center no-repeat;
        -webkit-mask: var(--deco-mask) center no-repeat;
        max-width: $pwidth;
        margin-inline-start: $outdent;
    }
    &:nth-child(2n) {
        --deco-mask: #{url(static_name("deco2.svg"))};
    }
    &:nth-child(3n) {
        --deco-mask: #{url(static_name("deco3.svg"))};
    }
    &:nth-child(5n - 2) {
        --deco-mask: #{url(static_name("deco4.svg"))};
        --deco-ar: 2654 / calc(988/2);
    }
    &:nth-child(7n - 6) {
        --deco-mask: #{url(static_name("deco5.svg"))};
        --deco-ar: 2606 / calc(909/2);
    }
    .readmore {
        text-align: right;
        a {
            font-family: cocanut;
            font-style: italic;
        }
    }
}

pre {
    background: var(--col-bext);
    border: solid 1px var(--col-bx);
    color: var(--col-f);
    font-variant: lining-nums;
    margin: 1em auto;
    &:not(:has(code)), code {
        display: block;
        overflow: auto;
        padding: 1ex;
    }
    &[data-lang] {
        position: relative;

        &::before {
            background: linear-gradient(60deg, transparent 1em, var(--col-bx) 2em);
            content: attr(data-lang);
            display: block;
            font-family: cocanut;
            font-style: italic;
            padding: 0 1ex 0 2em;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

#llmap {
    border: solid 1px $dark;
    height: 60vmin;
    margin: 2em 0;
}

:target {
    position: relative;
    &::before {
        background: $purple;
        border-radius: .3em;
        content: " ";
        height: 100%;
        left: max(-.8em, -2vw);
        position: absolute;
        width: min(.3em, 1vw);
    }
}

main footer address {
  text-align: right;
  font-family: cocanut;
  font-weight: bold;
  &::after {
      content: "🖋";
      font-size: 2em;
  }
}
menu.social {
    margin: 1em 0 0 0;
    padding: 0;
    li {
        display: inline-block;
        margin: 0 1em 1em 0;
        padding: 0;
        &.fedishare button.open:after {
            background: no-repeat 50% / contain url(static_name("fedi.svg"));
            content: ' ';
            display: inline-block;
            height: 1.8em;
            margin: -.4em 0 -.4em .4em;
            vertical-align: middle;
            width: 1.8em;
        }
        &.fedishare button.open:before {
            background: no-repeat 50% / contain url(static_name("masto.svg"));
            content: ' ';
            display: inline-block;
            height: 1.4em;
            margin: -.4em .4em -.4em 0;
            vertical-align: middle;
            width: 1.3em;
        }
        a.fb:before {
            background: url(static_name("fb.svg"));
            content: ' ';
            display: inline-block;
            height: 1.2em;
            margin: -.1em .4em -.1em 0;
            vertical-align: -.15em;
            width: 1.2em;
        }
    }
}

menu.social a,
button {
    background: linear-gradient(var(--col-b) 40%, var(--col-b2));
    border-radius: .3em;
    border: 0;
    box-shadow: myshadow();
    color: var(--col-fh);
    display: inline-block;
    font-family: cocanut;
    font-size: inherit;
    padding: .3em .8em;
    text-decoration: none;

    &:focus, &:hover {
        background: linear-gradient(var(--col-b1), var(--col-b) 30%, var(--col-b) 75%, var(--col-b2));
        color: var(--col-f);
        box-shadow: myshadow(), myshadow(.3em);
    }
}

#recentcomments {
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        clear: both;
        list-style: none;
        margin: 0 0 1ex;
        padding: 0;
        p:first-of-type {
            display: inline;
        }
    }
}
#comments {
    section {
        clear: both;
    }
    section:not(#writecomment) {
        max-width: calc($pwidth + $outdent + 8em);
    }
    p.signed {
        text-align: right;
        &:first-line {
            font: bold italic 1em cocanut;
        }
    }

    hr {
        background-color: var(--col-fh);
        border-radius: 50%;
        border: 0;
        height: 2px;
        margin: 2em min(20%, 7em) 1em 0;
        overflow: visible;
        position: relative;
        &::after {
            color: var(--col-fh);
            content: "☙";
            display: block;
            font-size: 3em;
            margin: 0 auto;
            position: relative;
            text-align: center;
            text-shadow: .04em 0 0 var(--col-b), -.04em 0 0 var(--col-b);
            top: -.75em;
            width: 3em;
        }
    }
    section:nth-child(2n) hr::after {
        content: "❧";
    }
    section:nth-child(3n) hr::after {
        content: "☘";
    }
    section:nth-child(5n) hr::after {
        content: "«»";
    }
    section:nth-child(7n - 5) hr::after {
        content: "» «";
    }

    img.gravatar {
        margin-top: -2em;
    }
}

img.gravatar {
    border-radius: 1em;
    float: right;
    height: auto;
    margin: 0 0 1ex 1em;
    max-width: 18%;
    width: 5em;
}

#writecomment form {
    display: grid;
    grid-template-columns: 1fr 2fr 5fr;
    gap: .2em .6em;
    align-items: first baseline;

    p {
        display: contents;
    }
    label {
        grid-column: 1;
    }
    p:nth-child(1) {
        label {
            grid-column: 1/3;
        }
        i.helptext {
            grid-column: 3/4;
            text-align: right;
        }
    }
    #cmt_md {
        grid-column: 1 / 4;
    }
    p.submit {
        display: block;
        grid-column: 1 / 4;
        text-align: right;
    }
    @media (max-width: 60em) {
        i.helptext {
            line-height: 1.2;
            margin-bottom: .6em;
            font-size: 87%;
        }
    }
    @media (max-width: 29em) {
        p:nth-child(1) i.helptext {
            grid-column: 3/4;
            margin: 0;
        }
        input {
            grid-column: 2/4;
        }
        .helptext {
            grid-column: 1/4;
            text-align: right;
        }
    }
}

textarea, input[type=text], input[type=email], input[type=url] {
    background: var(--col-bext);
    color: var(--col-fx);
    border: .7px inset var(--col-bx);
}

button.themeswitch {
    position: relative;
    padding: 0 1ex;
    &:hover, &:focus {
        &::after {
            background: var(--col-b);
            border: 0;
            box-shadow: myshadow();
            max-width: max-content;
            padding: 0 1ex;
            position: absolute;
            right: -1ex;
            top: 1.6em;
            width: 60vw;
            content: "Choose dark theme (device default is selected).";
            html.theme-dark & { content: "Choose light theme (dark is selected)."; }
            html.theme-light & { content: "Choose device or dark theme (light is selected)."; }
        }
        &:lang(sv) {
            &:after {
                content: "Välj mörkt tema (default för enhet är valt).";
                html.theme-dark & { content: "Välj ljust tema (mörkt är valt)."; }
                html.theme-light & { content: "Välj defaulttema för enhet (ljust är valt)."; }
            }
        }
    }
    &::before { content: '☽'; margin-inline-end: 1ch; }
    html.theme-dark &::before { content: '☼' }
    html.theme-light &::before { content: '☽☼' }
}

@media print {
    $headh: 14pt;

    @page {
        margin: 7mm 9mm 12mm 25mm;
    }
    @page :left {
        margin: 7mm 25mm 12mm 9mm;
    }

    body {
        font-size: 10pt;
        background: white; // Gradient w/ transp is buggy in chrome.
        > header {
            min-height: $headh;
            padding: 0;
            &:after {
                height: $headh;
                width: $headh * 1.33;
            }
        }
        > footer {
            $treesize: 20mm;
            margin-top: $treesize;
            padding: 1pt 1em;
            font-size: 87%;
            hr {
                height: $treesize;
                top: calc(#{-$treesize} + 1Q);
                width: $treesize * 27 / 30;
            }
        }
    }

    body > header p:not(:first-of-type),
    menu.social,
    section#comments.pending,
    section#writecomment,
    body > aside,
    aside#me_box,
    footer p.cookies {
        display: none;
    }

    #comments section {
        break-inside: avoid;
    }

    // Override colors for print both with and without light theme, to
    // be more specific.
    html.theme-light,
    html:not(.theme-light) {
        --col-f: #{black};
        --col-fl: #{color.mix($purple, blue)};
        --col-fv: #{$purple};
        --col-fh: #{$dark};
        --col-b: #{white};
        --col-bt: #{rgba(white, 0.9)};
        --col-bx: #{wheat};
        --col-bl: #{color.mix(white, $purple, 65%)};
        --col-bv: #{color.mix(white, $purple, 80%)};
        --col-bext: #{white};
        --col-b1: #{white};
        --col-b2: #{white};
        --col-flare: #{white};
    }
}

.publine + p,
.publine + aside + p,
.publine + figure.sidebar + p {
    margin-top: 1em;
    position: relative;
    text-indent: -$outdent;
    $cb: var(--col-fv);
    $c1: var(--col-flare);
    &::first-letter {
        font-size: 350%;
        line-height: 1;
        padding: 0;
        margin: 0;
        font-variant: petite-caps;
        $r1: .1ex / 2.5;
        $r2: .12ex / 2.5;
        text-shadow:
            -$r1 $r1 $c1, $r1 -$r1 $c1, -$r1 -$r1 $c1, $r1 $r1 $c1,
            -$r2 $r2 $cb, $r2 -$r2 $cb, -$r2 -$r2 $cb, $r2 $r2 $cb
        ;
    }
    &::first-line {
        letter-spacing: .1em;
        text-shadow: -.1ex .1ex $c1, .1ex -.1ex $c1, -.1ex -.1ex $c1, .1ex .1ex $c1;;
    }
    &::after {
        mask: url(static_name("anf.svg"));
        -webkit-mask: url(static_name("anf.svg"));
        background: $cb;
        content: "";
        display: block;
        height: 3.5em;
        left: -.2ex;
        position: absolute;
        top: -1ex;
        width: 7em;
        z-index: -1;
    }
}

dialog {
    background: var(--col-b);
    color: var(--col-f);
    border: 0;
    border-radius: .5ex;
    box-shadow: myshadow(1ex);
    width: min(25em, 80%);

    form[method="dialog"] {
        display: flex;
        flex-flow: column;
        gap: 1em;
        justify-content: space-between;

        div {
            display: flex;
            gap: 1em;
            justify-content: flex-end;
        }
    }
}
