@use super::super::prelude::*;
@use super::{footer, head_canon, header};
@use warp::http::StatusCode;

@(fluent: &FluentLanguageLoader, code: StatusCode, message: &str)

<!doctype html>
<html lang="sv" class="error">
  <head>
    <title>Error @code.as_u16(): @code.canonical_reason().unwrap_or("error")</title>
    @:head_canon()
  </head>
  <body>
    @:header(fluent, &[])
    <main>
      <h1>@code.canonical_reason().unwrap_or("error")</h1>

      <p>@message</p>
      <p>We are sorry about this.
	In a real application, this would mention the incident having
	been logged, and giving contact details for further reporting.</p>
    </main>
    @:footer(fluent)
  </body>
</html>
