@use super::super::prelude::*;
@use super::{footer, head_canon, header, me_box};
@use warp::http::StatusCode;

@(fluent: &FluentLanguageLoader, code: StatusCode, message: &str, detail: &str)

<!doctype html>
<html lang="sv" class="error" xmlns:cc="https://creativecommons.org/ns#">
  <head>
    <title>Error @code.as_u16(): @code.canonical_reason().unwrap_or("error")</title>
    @:head_canon()
  </head>
  <body>
    @:header(fluent, &[])
    <main>
      <h1>@message</h1>

      <p>Error @code.as_u16(): @code.canonical_reason().unwrap_or("error").</p>

      <p>@detail</p>
    </main>
    @:me_box(fluent)
    @:footer(fluent)
  </body>
</html>
