@use super::page_base;
@use super::super::DateTime;
@use crate::models::PostLink;

@(posts: &[(PostLink, DateTime, DateTime)])

@:page_base("Rasmus.krats.se", {

  <p>This is a my new blog.</p>

  @for (post, posted_at, updated_at) in posts {
  <article id="post_@(post.year)_@post.slug">
    <h2><a href="@post.url()">@Html(&post.title)</a></h2>
    <p class="publine"><!-- TODO: lang! -->
        Posted @posted_at.
        @if updated_at > posted_at {
        Last updated @updated_at.
        }
        <!-- TODO: tags. -->
    </p>
  </article>
  }
})
