@use super::super::prelude::*;
@use super::{footer, head_canon, me_box};
@use crate::models::{PostComment, Teaser};

@(fluent: &FluentLanguageLoader, posts: &[Teaser], comments: &[PostComment], years: &[i16], other_langs: &[String])

<!doctype html>
<html lang="@fluent.current_language()" xmlns:cc="https://creativecommons.org/ns#">
  <head>
    <title>@fl!(fluent, "sitename")</title>
    @:head_canon()
    <link rel="alternate" type="application/atom+xml" href="/atom-@(fluent.current_language()).xml">
  </head>
  <body>
    <header>
      <h1>@fl!(fluent, "sitename")</h1>
      <p class="tagline">@fl!(fluent, "tagline")</p>
      @for other in other_langs {<p>@Html(other)</p>}
    </header>
    <main>
      @for post in posts {
      <article id="post_@(post.year)_@post.slug" lang="@post.lang">
        <h2><a href="@post.url()">@Html(&post.title)</a></h2>
        <p class="publine">@Html(post.publine())</p>
        @Html(&post.content)
        <p class="readmore"><a href="@post.url()" rel="bookmark">@Html(post.readmore())</a></p>
      </article>
      }

      @if let Some((first, rest)) = years.split_first() {
      <p>@fl!(fluent, "from-year")
        <a href="/@first/@fluent.current_language()">@first</a>@for year in rest {,
        <a href="/@year/@fluent.current_language()">@year</a>}.</p>
      }
    </main>
    @:me_box(fluent)
    @if !comments.is_empty() {
    <aside id="recentcomments">
      <h2>@fl!(fluent, "recent-comments")</h2>
      @for c in comments {<p>
        <a href="@c.url()">
          <img class="gravatar" src="@c.gravatar()" alt="" height="160" width="160">
          @fl!(fluent, "byon", by=c.name(), date=c.posted_at())
          @fl!(fluent, "on") @c.post_title()</a>
        @c.text_start()
      </p>
      }
    </aside>
    }
    @:footer(fluent)
  </body>
</html>
