@use super::super::prelude::*;

@(fluent: &FluentLanguageLoader)
<aside id="me_box">
  <h2>@fl!(fluent, "meb-h1")</h2>
  <ul>
    <li><a href="/site.@fluent.current_language()">@fl!(fluent, "meb-about")</a></li>
    <li><a href="/tag/@fluent.current_language()">@fl!(fluent, "tagshead")</a></li>
  </ul><ul>
    <li><a rel="me" href="https://mastodon.nu/@@rkaj">Mastodon</a></li>
    <li><a rel="me" href="https://codeberg.org/rkaj">Codeberg</a></li>
    <li><a rel="me" href="https://github.com/kaj">Github</a></li>
    <li><a href="https://www.librarything.com/profile/kaj">LibraryThing</a></li>
  </ul>
  <ul lang="sv">
    <li><a href="https://krats.se/">krats.se</a></li>
    <li><a href="https://fantomenindex.krats.se/">Fantomenindex</a></li>
    <li><a href="http://www.albumforlaget.se/">Albumförlaget</a></li></ul>
</aside>
