@()
<aside id="me_box">
  <h1>Rasmus Kaj</h1>
  <ul>
    <li class="icon-user"><a href="/om">Om Rasmus.krats.se</a></li>
    <li class="icon-leaf"><a href="https://www.kth.se/profile/kaj/">KTH</a></li>
    <li class="icon-github"><a href="https://github.com/kaj">Github</a></li>
    <li class="icon-twitter"><a href="https://twitter.com/rasmus_kaj">Twitter</a></li>
    <li class="icon-book"><a href="https://www.librarything.com/profile/kaj">LibraryThing</a></li>
  </ul>
  <ul>
    <li class="icon-link-ext"><a href="https://krats.se/">krats.se</a></li>
    <li class="icon-link-ext"><a href="https://fantomenindex.krats.se/">Fantomenindex</a></li>
    <li class="icon-link-ext"><a href="http://www.albumforlaget.se/">Albumförlaget</a></li></ul>
</aside>
