@use super::super::prelude::*;
@use super::{footer, head_canon, me_box};

@(fluent: &FluentLanguageLoader, title: &str, other_langs: &[String], content: Content)

<!doctype html>
<html lang="@fluent.current_language()">
  <head>
    <title>@title — @fl!(fluent, "sitename")</title>
    @:head_canon()
  </head>
  <body>
    <header>
      <p><a href="/@fluent.current_language()">@fl!(fluent, "sitename")</a></p>
      @for other in other_langs {<p>@Html(other)</p>}
    </header>

    <main>
      <h1>@title</h1>
      @:content()
    </main>
    @:me_box(fluent)
    @:footer(fluent)
  </body>
</html>
