@use super::{footer, head_canon, me_box};
@use crate::models::{Post, Tag};
@use i18n_embed::fluent::FluentLanguageLoader;

@(fluent: FluentLanguageLoader, post: &Post, tags: &[Tag], other_langs: &[String])

<!doctype html>
<html lang="@post.lang">
  <head>
    <title>@post.title &#x2013; Rasmus.krats.se</title>
    @:head_canon()
  </head>
  <body>
    <header>
      <a href="/@post.lang">Rasmus.krats.se</a>
      @for other in other_langs {@Html(other)}
    </header>

    <main>
      <h1>@Html(&post.title)</h1>
      <p class="publine">@Html(post.publine(tags))</p>
      @Html(&post.content)
    </main>
    <aside>
      <h1>Relaterat</h1>
      <p>Todo: lista relaterade sidor.</p>
    </aside>
    @:me_box()
    @:footer(&fluent)
  </body>
</html>
