@use super::super::prelude::*;
@use super::{footer, head_canon, header, me_box};

@(fluent: &FluentLanguageLoader, title: &str, other_langs: &[String], content: Content)

<!doctype html>
<html lang="@fluent.current_language()" xmlns:cc="https://creativecommons.org/ns#">
  <head>
    <title>@title — @fl!(fluent, "sitename")</title>
    @:head_canon()
  </head>
  <body>
    @:header(fluent, other_langs)
    <main>
      <h1>@title</h1>
      @:content()
    </main>
    @:me_box(fluent)
    @:footer(fluent)
  </body>
</html>
