@use super::{footer, head_canon, me_box};
@use i18n_embed::fluent::FluentLanguageLoader;
@use i18n_embed::LanguageLoader;

@(fluent: &FluentLanguageLoader, title: &str, content: Content)

<!doctype html>
<html lang="@fluent.current_language()">
  <head>
    <title>@title</title>
    @:head_canon()
  </head>
  <body>
    <header>
      <a href="/">Rasmus.krats.se</a>
    </header>

    <main>
      <h1>@title</h1>
      @:content()
    </main>
    @:me_box()
    @:footer(fluent)
  </body>
</html>
