@use super::super::prelude::*;
@use super::{footer, head_canon, header, me_box};
@use crate::models::{Comment, Post, PostLink, Tag};

@(fluent: &FluentLanguageLoader, canonical_url: &str, post: &Post, tags: &[Tag], bad_comment: bool, csrf: &str, comments: &[Comment], other_langs: &[String], similar: &[PostLink])

<!doctype html>
<html lang="@post.lang">
  <head>
    <title>@post.title — @fl!(fluent, "sitename")</title>
    @:head_canon()
    @if post.use_leaflet() {<link rel="stylesheet" href="/s/ll171/leaflet.css"/>
    <script src="/s/ll171/leaflet.js" async onload="initmap()"></script>}
  </head>
  <body>
    @:header(fluent, other_langs)
    <main>
      <h1>@Html(&post.title)</h1>
      <p class="publine">@Html(post.publine(fluent, tags))</p>
      @Html(&post.content)

      <menu class="social">
        <li><a href="https://twitter.com/share?text=@post.title&url=@canonical_url&via=rasmus_kaj"
               class="twitter" rel="noopener" target="_blank">@fl!(fluent, "tweet")</a></li>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u=@canonical_url&display=popup"
               class="fb" rel="noopener" target="_blank">@fl!(fluent, "fbshare")</a></li>
      </menu>
      <section id="comments">
        <h2>@fl!(fluent, "comments")</h2>
        @if bad_comment {
        <div id="cxmod">
          <p>@fl!(fluent, "c-mod")</p>
        </div>
        }
        @for c in comments {
        <section id="@c.html_id()">
          <hr/>
          <img class="gravatar" src="@c.gravatar()" alt="" height="160" width="160">
          @Html(&c.content)
          <p class="signed">@fl!(fluent, "signed") @c.name<br>
            @fl!(fluent, "date", date = (&c.posted_at))</p>
        </section>
        }
        <section id="writecomment">
          <h3>@fl!(fluent, "write-comments")</h3>
          <form action="/comment" method="post">
            <p><label for="cmt_md">@fl!(fluent, "c-cmt")</label>
              <i class="helptext">@fl!(fluent, "c-cmt-h")</i>
              <textarea name="comment" cols="40" rows="10" required id="cmt_md"></textarea></p>
            <p><label for="cmt_name">@fl!(fluent, "c-name")</label>
              <input name="name" type="text" maxlength="100" required id="cmt_name">
              <i class="helptext">@fl!(fluent, "c-name-h")</i></p>
            <p><label for="cmt_mail">@fl!(fluent, "c-mail")</label>
              <input type="email" name="email" maxlength="254" required id="cmt_mail">
              <i class="helptext">@fl!(fluent, "c-mail-h")</i></p>
            <p><label for="cmt_url">@fl!(fluent, "c-url")</label>
              <input type="url" name="url" maxlength="200" id="cmt_url">
              <i class="helptext">@fl!(fluent, "c-url-h")</i></p>
            <p class="submit">
              <input type="hidden" name="post" value="@post.id" id="id_post">
              <input type="hidden" name="csrftoken" value="@csrf">
              <button type="submit">@fl!(fluent, "c-post")</button>
            </p>
          </form>
        </section>
      </section>
    </main>
    @if !similar.is_empty() {
    <aside>
      <h2>@fl!(fluent, "related")</h2>
      <ul>@for link in similar {
        <li><a href="@link.url()">@Html(&link.title)</a> (@link.year)</li>
        }</ul>
    </aside>
    }
    @:me_box(fluent)
    @:footer(fluent)
  </body>
</html>
