@use super::super::prelude::*;
@use super::{footer_html, head_canon_html, header_html, me_box_html};
@use crate::models::Teaser;

@(fluent: &FluentLanguageLoader, h1: &str, feed: Option<&str>, posts: &[Teaser], years: &[i16], other_langs: &[String])

<!doctype html>
<html lang="@fluent.current_language()" xmlns:cc="https://creativecommons.org/ns#">
  <head>
    <title>@h1 — @fl!(fluent, "sitename")</title>
    @:head_canon_html()
  </head>
  <body>
    @:header_html(fluent, other_langs)
    <main>
      <h1>@h1</h1>
      <p class="tagline">@fl!(fluent, "tagline")</p>

      @for post in posts {
      <article id="post_@(post.year())_@post.slug" lang="@post.lang">
        <h2><a href="@post.url()">@Html(&post.title)</a></h2>
        <p class="publine">@Html(post.publine())</p>
        @Html(&post.content)
        <p class="readmore"><a href="@post.url()" rel="bookmark">@Html(post.readmore())</a></p>
      </article>
      }

      @if let Some((first, rest)) = years.split_first() {
      <p>@fl!(fluent, "from-year")
        <a href="/@first/@fluent.current_language()">@first</a>@for year in rest {,
        <a href="/@year/@fluent.current_language()">@year</a>}.</p>
      }
    </main>
    @:me_box_html(fluent)
    @if let Some(feed) = feed {
    <aside>
      <h2>@fl!(fluent, "feed-h")</h2>
      <p>@fl!(fluent, "feed-pre")
      <a href="@feed" rel="alternate" type="application/atom+xml">@fl!(fluent, "feed-link")</a>.</p>
    </aside>
    }
    @:footer_html(fluent)
  </body>
</html>
